<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biblan.Properties.Settings.bibliotekConnectionString"
            connectionString="Data Source=anatoly.mine.nu;Initial Catalog=bibliotek;Persist Security Info=True;User ID=bibliotek;Password=bibliotek"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>